name: Share data between jobs

on: [push]

jobs:
  job_1:
    name: Get variables
    runs-on: internal-arc-runners
    steps:
      - shell: bash
        run: |
          cat EOF << > build_vars.yml
          job_id: ${{ github.job}}
          commit: ${{ github.sha}}
          git_branch: ${{ github.ref}}

      - name: Upload result for job 1
        uses: actions/upload-artifact@v4
        with:
          name: build_vars
          path: build_vars.yml

  job_2:
    name: Display results
    needs: job_1
    runs-on: internal-arc-runners
    steps:
      - name: Download result for job 1
        uses: actions/download-artifact@v4
        with:
          name: build_vars
      - name: Print the final result
        shell: bash
        run: |
          build_vars=`cat build_vars.yml`
          echo The result is $build_vars

  # Test2:
  #   # runs-on: self-hosted # Or [self-hosted, label-1] 
  #   runs-on: [self-hosted, label-1] 
  #   steps:
  #     - name: Check out repository code
  #       uses: actions/checkout@v4
  #     - name: Printf
  #       run: |
  #         echo "This is job Test2 in Demo workflow"
  #     - name: Check version Trivy
  #       run: |
  #         pwd 
  #         trivy --version
  #         echo ${{ github.workspace }}
  #         echo ${{ github.action}}
  #         echo ${{ github.job }}
  #         echo ${{ github.run_number}}
  #     - name: Sleep
  #       run: sleep 10

##  Scan Dockerfile -> Build image -> Scan image -> Build docker container -> Test -> Stop && rm container -> Tag image
##  Login Docker hub or ghcr.io -> push Dockerhub or ghcr.io